body {
    background-color: rgb(23, 40, 70);
    color:white;
}

.slider-handle {
    background-color: #0976EF !important;
    background-image: none !important;
    box-shadow: none !important;
}

.slider.slider-horizontal .slider-track {
    height: 5px;
    width: 100%;
    margin-top: -2.5px;
    top: 50%;
    left: 0;
    opacity: 0.5;
}

@media (max-width: 600px) {
    .form{
        display: none !important;
    }


}