
body, html{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px; 
    left: 0px;
    overflow: hidden;
    color: white;
}

p {
    margin: 0px 7.5px !important;
    font-size: calc(0.35rem + 0.5vw) ;
}

 .btn {
    font-size: calc(0.35rem + 0.5vw) ;
}

 .slider-tick-label {
    font-size: calc(0.2rem + 0.5vw) !important ;

    

}

#quiz-button {
    z-index: 123;
}


 .in-selection  {
    background: #0976EF !important;;
}




.slider.slider-horizontal {
    margin-left: 10px;
    width: 80% !important;
}

.slider.slider-horizontal.slider-tick-label {
    margin-left: 10px;
    /* width: 90% !important; */
}


.flex-fill {
    /* : center; */
    /* margin-top: 5%;
    height: 75%; */
    /* align-items: center; */
}

.habit-recommendation {
    background: rgb(23, 40, 70) !important;
}

.form-image {
    /* height: 50%; */
    /* width: 50%; */
    margin-right: 10px;
    max-width: 50px;
} 

.custom-range {
    max-width: 500px;
}


.slider-handle {
    background-color: #0976EF !important;
    background-image: none !important;
    box-shadow: none !important;
}

.slider.slider-horizontal .slider-track {
    height: 5px;
    width: 100%;
    margin-top: -2.5px;
    top: 50%;
    left: 0;
    opacity: 0.5;

}

.app-container {
    width: 100%;
    height: 100%;
    background-color: rgb(23, 40, 70);
    display: flex;
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: center; */

}

.sidebar-quiz {
    width: 5%;
    height: 100%;
    background: #181818;
    transition: all 0.25s;
    /* flex: 0; */
    min-width: 20px;


}

.sidebar-quiz .hidediv{
    opacity: 0;
  
  }

.sidebar-info {
    width:  5%;
    height: 100%;
    background: #0976EF;
    transition: all 0.25s;
    /* flex: 0.5; */
    opacity: 1;
    min-width: 0px;


}

.badge {
    font-size: 80% !important;
    font-weight: 400;
    margin-bottom: 15px !important;
}

.sidebar-info .hidediv{
    display: none;
opacity: 0;
transition: 0.5s opacity;


}

.quiz-sizing {
    
        height: 75%;
        margin-top: 5%;
    
}

.quiz-open {
    width: 50% !important;
    flex: 3 !important;

}
.quiz-open .hidediv{
  opacity: 1;

}

.info-open .hidediv{
    opacity: 1;
    display: block;
    
  }
/* #info-conten */

.info-open {
    width: 40% !important;
    flex: 2 !important;
}

.sidebar-hide {
    width: 0px !important;
}

.hide-info {
    visibility: hidden;
}

#desc-paragraph {
    margin: 5px 0px !important
}

.main-small {
    width: 50% !important;
    flex: 4 !important;
}



#main-content {
    /* transition: width 0.5s; */
    flex: 8;
    /* flex: */

    width: 100%;
    height: 100%;
    min-width: 50%;
    min-height: 100%;

}

#canvas-container {
    width: 100%;
    height: 100%;
}

.bottom-bar {
    height: 20%;
    border-top: 2px solid white;
}

#noiseLayer {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events:none;

}



